*{
    font-family: "open sans";
}

button{
    width: 100%;
    border-radius: 50px;
    background-color: #000;
    color: #fff;
}
p{
    border-left: 1px;
}

#mainp{
    border-left: solid 3px;
    padding-left: 5px;
}

footer{
    width: 100%;
    background-color: rgba(247, 193, 162, 0.7);
}

.divs{
    display:inline;
    position:fixed;
}


body{
    background-color: #f9fafc;
}